# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.The_King-s_Gambit.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\The_King-s_Gambit\.idea\.idea.The_King-s_Gambit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
